<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.elac.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.elac.entity.UsersEntity">
        <result column="ID" property="id" />
        <result column="FIRST_NAME" property="firstName" />
        <result column="LAST_NAME" property="lastName" />
        <result column="CELL_NUMBER" property="cellNumber" />
        <result column="EMAIL" property="email" />
        <result column="ADDRESS1" property="address1" />
        <result column="ADDRESS2" property="address2" />
        <result column="CITY" property="city" />
        <result column="ZIP_CODE" property="zipCode" />
        <result column="USER_NAME" property="userName" />
        <result column="PASSWORD" property="password" />
        <result column="SALT" property="salt" />
        <result column="STATE" property="state" />
        <result column="DELETE_FLAG" property="deleteFlag" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, FIRST_NAME, LAST_NAME, CELL_NUMBER, EMAIL, ADDRESS1, ADDRESS2, CITY, ZIP_CODE, USER_NAME, PASSWORD, SALT, STATE, DELETE_FLAG, CREATE_TIME, UPDATE_TIME
    </sql>
  <insert id="insertUser">
    INSERT INTO T_USERS (FIRST_NAME, LAST_NAME, CELL_NUMBER, EMAIL, ADDRESS1, ADDRESS2, CITY, ZIP_CODE, USER_NAME, PASSWORD, SALT, STATE)
    VALUES (#{firstName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, #{cellNumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{address1,jdbcType=VARCHAR}, #{address2,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{salt}, 1);
  </insert>

</mapper>
